In [1]:
#Dependencies
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import re
import json

In [3]:
df = pd.read_csv("../Datasets/review.csv")

In [7]:
df['text'].head()

0    b'Total bill for this horrible service? Over $...
1    b"I *adore* Travis at the Hard Rock's new Kell...
2    b"I have to say that this office really has it...
3    b"Went in for a lunch. Steak sandwich was deli...
4    b'Today was my second out of three sessions I ...
Name: text, dtype: object

In [8]:
test_df = df[:200]

In [13]:
test_df.head()

,date,useful,usiness_id,text,funny,user_id,stars,cool,review_id
0,b'2013-05-07 04:34:36',6,b'ujmEBvifdJM6h6RLv4wQIg',b'Total bill for this horrible service? Over $...,1,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0,b'Q1sbwvVQXV2734tPgoKj4Q'
1,b'2017-01-14 21:30:33',0,b'NZnhc2sEQy3RmzKTZnqtwQ',"b""I *adore* Travis at the Hard Rock's new Kell...",0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0,b'GJXCdrto3ASJOqKeVWPi6Q'
2,b'2016-11-09 20:09:03',3,b'WTqjgwHlXbSFevF32_DJVw',"b""I have to say that this office really has it...",0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0,b'2TzJjDVDEuAW6MR5Vuc1ug'
3,b'2018-01-09 20:56:38',0,b'ikCg8xy5JIg_NGPx-MSIDA',"b""Went in for a lunch. Steak sandwich was deli...",0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0,b'yi0R0Ugj_xUx_Nek0-_Qig'
4,b'2018-01-30 23:07:38',7,b'b1b1eb3uo-w561D0ZfCEiQ',b'Today was my second out of three sessions I ...,0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0,b'11a8sVPMUFtaC7_ABRkmtw'

In [10]:
test_df.to_csv('review_test.csv')

In [16]:
test_df.columns = test_df.columns.str[2:]