In [1]:
from nltk.corpus import stopwords
import pandas as pd
from nltk import tokenize
from nltk import word_tokenize
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()

In [30]:
reviews = pd.read_csv('review_test_clean.csv')
reviews.head()

,date,useful,business_id,text,funny,user_id,stars,cool,review_id
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q'
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q'
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug'
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig'
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw'

In [31]:
reviews['text'] = reviews['text'].astype(str)

In [42]:
reviews_train = reviews[:50]

In [43]:
reviews_train.head()

,date,useful,business_id,text,funny,user_id,stars,cool,review_id
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q'
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q'
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug'
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig'
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw'

In [44]:
#Normalized using lemmatization
def get_lemmatized_text(corpus):
    from nltk.stem import WordNetLemmatizer
    lemmatizer = WordNetLemmatizer()
    return [' '.join([lemmatizer.lemmatize(word) for word in review.split()]) for review in corpus]

reviews_train['lemmatized_reviews'] = get_lemmatized_text(reviews_train['text'])
reviews_train.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,date,useful,business_id,text,funny,user_id,stars,cool,review_id,lemmatized_reviews
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q',total bill for this horrible service over $8gs...
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q',i adore travis at the hard rock new kelly card...
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug',i have to say that this office really ha it to...
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig',went in for a lunch steak sandwich wa deliciou...
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw',today wa my second out of three session i had ...

In [45]:
#Stop Words
from nltk.corpus import stopwords

english_stop_words = stopwords.words('english')
def remove_stop_words(corpus):
    removed_stop_words = []
    for review in corpus:
        removed_stop_words.append(
            ' '.join([word for word in review.split() 
                      if word not in english_stop_words])
        )
    return removed_stop_words
reviews_train['no_stop_words'] = remove_stop_words(reviews_train['lemmatized_reviews'])
reviews_train.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,date,useful,business_id,text,funny,user_id,stars,cool,review_id,lemmatized_reviews,no_stop_words
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q',total bill for this horrible service over $8gs...,total bill horrible service $8gs crook actuall...
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q',i adore travis at the hard rock new kelly card...,adore travis hard rock new kelly cardenas salo...
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug',i have to say that this office really ha it to...,say office really ha together organized friend...
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig',went in for a lunch steak sandwich wa deliciou...,went lunch steak sandwich wa delicious caesar ...
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw',today wa my second out of three session i had ...,today wa second three session paid although fi...

In [47]:
#Word Counts
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

wc_vectorizer = CountVectorizer(binary=False)
wc_vectorizer.fit(reviews_train['no_stop_words'])
X = wc_vectorizer.transform(reviews_train['no_stop_words'])
target = reviews_train['stars']


X_train, X_val, y_train, y_val = train_test_split(
    X, target, train_size = 0.75, 
)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [48]:
for c in [0.01, 0.05, 0.25, 0.5, 1]:
    
    lr = LogisticRegression(C=c)
    lr.fit(X_train, y_train)
    print ("Accuracy for C=%s: %s" 
           % (c, accuracy_score(y_val, lr.predict(X_val))))

Accuracy for C=0.01: 0.46153846153846156
Accuracy for C=0.05: 0.6153846153846154
Accuracy for C=0.25: 0.6153846153846154
Accuracy for C=0.5: 0.6153846153846154
Accuracy for C=1: 0.5384615384615384

In [53]:
final_wc = LogisticRegression(C=0.05)
final_wc.fit(X_train, y_train)
print ("Final Accuracy: %s" 
       % accuracy_score(y_val, final_wc.predict(X_val)))

Final Accuracy: 0.6153846153846154

In [52]:
final_wc.predict(X)

array([1., 5., 5., 5., 1., 4., 3., 1., 2., 5., 4., 1., 4., 4., 1., 5., 4.,
       3., 5., 3., 5., 5., 4., 5., 5., 5., 1., 5., 1., 1., 5., 1., 1., 5.,
       1., 2., 5., 4., 1., 1., 4., 3., 5., 5., 1., 5., 5., 4., 4., 1.])

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
tfidf_vectorizer.fit(reviews_train['no_stop_words'])
X = tfidf_vectorizer.transform(reviews_train['no_stop_words'])

X_train, X_val, y_train, y_val = train_test_split(
    X, target, train_size = 0.75, 
)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [56]:
for c in [0.01, 0.05, 0.25, 0.5, 1]:
    
    lr = LogisticRegression(C=c)
    lr.fit(X_train, y_train)
    print ("Accuracy for C=%s: %s" 
           % (c, accuracy_score(y_val, lr.predict(X_val))))

Accuracy for C=0.01: 0.3076923076923077
Accuracy for C=0.05: 0.3076923076923077
Accuracy for C=0.25: 0.3076923076923077
Accuracy for C=0.5: 0.3076923076923077
Accuracy for C=1: 0.38461538461538464

In [58]:
feature_to_coef = {
    word: coef for word, coef in zip(
        tfidf_vectorizer.get_feature_names(), lr.coef_[0]
    )
}
for best_positive in sorted(
    feature_to_coef.items(), 
    key=lambda x: x[1], 
    reverse=True)[:5]:
    print (best_positive)

    
for best_negative in sorted(
    feature_to_coef.items(), 
    key=lambda x: x[1])[:5]:
    print (best_negative)

('tire', 0.39327490981155194)
('walked', 0.3511932877223176)
('body', 0.3041437673613223)
('hot', 0.2967684737663867)
('pot', 0.27618539531686914)
('great', -0.3013770845568173)
('chicken', -0.26946053497935685)
('also', -0.2221686598445839)
('amazing', -0.21471638526613623)
('friendly', -0.1912565461325712)