In [4]:
from nltk.corpus import stopwords
import pandas as pd
from nltk import tokenize
from nltk import word_tokenize
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()
# nltk.download('punkt')

In [5]:
reviews = pd.read_csv('review_test_clean.csv')
reviews.head()

,date,useful,business_id,text,funny,user_id,stars,cool,review_id
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q'
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q'
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug'
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig'
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw'

In [6]:
reviews['text'] = reviews['text'].astype(str)

In [7]:
reviews['tokenized_reviews'] = reviews["text"].apply(tokenizer.tokenize)

In [8]:
reviews.head()

,date,useful,business_id,text,funny,user_id,stars,cool,review_id,tokenized_reviews
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q',"[total, bill, for, this, horrible, service, ov..."
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q',"[i, adore, travis, at, the, hard, rocks, new, ..."
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug',"[i, have, to, say, that, this, office, really,..."
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig',"[went, in, for, a, lunch, steak, sandwich, was..."
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw',"[today, was, my, second, out, of, three, sessi..."

In [11]:
from nltk.corpus import stopwords

english_stop_words = stopwords.words('english')
def remove_stop_words(corpus):
    removed_stop_words = []
    for review in corpus:
        removed_stop_words.append(
            ' '.join([word for word in review.split() 
                      if word not in english_stop_words])
        )
    return removed_stop_words

In [13]:
# no_stop_words = remove_stop_words(reviews_train_clean)

reviews['no_stop_words'] = reviews['tokenized_reviews'].apply(remove_stop_words)

reviews.head()

,date,useful,business_id,text,funny,user_id,stars,cool,review_id,tokenized_reviews,no_stop_words
0,b'2013-05-07 04:34:36',6.0,b'ujmEBvifdJM6h6RLv4wQIg',total bill for this horrible service over $8gs...,1.0,b'hG7b0MtEbXx5QzbzE6C_VA',1.0,0.0,b'Q1sbwvVQXV2734tPgoKj4Q',"[total, bill, for, this, horrible, service, ov...","[total, bill, , , horrible, service, , $, 8gs,..."
1,b'2017-01-14 21:30:33',0.0,b'NZnhc2sEQy3RmzKTZnqtwQ',i adore travis at the hard rocks new kelly car...,0.0,b'yXQM5uF2jS6es16SJzNHfg',5.0,0.0,b'GJXCdrto3ASJOqKeVWPi6Q',"[i, adore, travis, at, the, hard, rocks, new, ...","[, adore, travis, , , hard, rocks, new, kelly,..."
2,b'2016-11-09 20:09:03',3.0,b'WTqjgwHlXbSFevF32_DJVw',i have to say that this office really has it t...,0.0,b'n6-Gk65cPZL6Uz8qRm3NYw',5.0,0.0,b'2TzJjDVDEuAW6MR5Vuc1ug',"[i, have, to, say, that, this, office, really,...","[, , , say, , , office, really, , , together, ..."
3,b'2018-01-09 20:56:38',0.0,b'ikCg8xy5JIg_NGPx-MSIDA',went in for a lunch steak sandwich was delicio...,0.0,b'dacAIZ6fTM6mqwW5uxkskg',5.0,0.0,b'yi0R0Ugj_xUx_Nek0-_Qig',"[went, in, for, a, lunch, steak, sandwich, was...","[went, , , , lunch, steak, sandwich, , delicio..."
4,b'2018-01-30 23:07:38',7.0,b'b1b1eb3uo-w561D0ZfCEiQ',today was my second out of three sessions i ha...,0.0,b'ssoyf2_x0EQMed6fgHeMyQ',1.0,0.0,b'11a8sVPMUFtaC7_ABRkmtw',"[today, was, my, second, out, of, three, sessi...","[today, , , second, , , three, sessions, , , p..."